<launch>
  <node pkg="o_display_disporsal_2018" name="display_disporsal" type="main.py" output="screen">
  </node>
  <node pkg="o_display_disporsal_2018" name="dd_vision" type="vision.py" output="screen">
  </node>
  <!-- 
    <include file="$(find aruco_ros)/launch/marker_publisher.launch"/>
  -->
  <!-- 
  <node pkg="tf" type="static_transform_publisher" name="camera_link_broadcaster" args="0 0 1.345 0 0 0 1 robot camera 100" />
  -->
  <!-- 
  <include file="$(find open3d_workspace)/launch/open3d_workspace.launch"/>
  -->
</launch>

